POSTGRES_DB=babyshop
POSTGRES_USER=babyshop_user
POSTGRES_PASSWORD=babyshop_password
POSTGRES_PORT=5432
DB_HOST=localhost
DB_PORT=5432
DB_NAME=babyshop
DB_USERNAME=babyshop_user
DB_PASSWORD=babyshop_password
